* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s ease-in-out infinite;
    -webkit-animation: animate 30s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        -webkit-transform: perspective(1000px) rotateY(0deg);
        -moz-transform: perspective(1000px) rotateY(0deg);
        -ms-transform: perspective(1000px) rotateY(0deg);
        -o-transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(720deg);
        -webkit-transform: perspective(1000px) rotateY(720deg);
        -moz-transform: perspective(1000px) rotateY(720deg);
        -ms-transform: perspective(1000px) rotateY(720deg);
        -o-transform: perspective(1000px) rotateY(720deg);
    }
}

.container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc((var(--i) - 1) * (360deg / 13))) translateZ(500px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
    -webkit-transform: rotateY(calc((var(--i) - 1) * (360deg / 13))) translateZ(500px);
    -moz-transform: rotateY(calc((var(--i) - 1) * (360deg / 13))) translateZ(500px);
    -ms-transform: rotateY(calc((var(--i) - 1) * (360deg / 13))) translateZ(500px);
    -o-transform: rotateY(calc((var(--i) - 1) * (360deg / 13))) translateZ(500px);
}

.container span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
